{{ attach_library('recipes_theme/wake_lock') }}
<div class="toggle-switch wake-lock">
  <input type="checkbox" id="recipes_wake_lock" checked="checked"/>
  <label for="recipes_wake_lock"></label>
  <span class="label">Keep screen awake</span>
</div>
