body {
  /*font-family: 'Cabin', serif;*/
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  color: var(--text-color);
  font-size: 1.25em;
  margin: 0;
  background: lightgray;
}

p, li {
  max-width: 46rem;
}

.layout-container {
  background-color: #fff5ea;
  border: 1px solid #c9c9c9;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding: 0rem 1em 1rem 1rem;
    margin: 0;
  }

  @media (min-width: 1024px) {
    padding: 0rem 2em 2rem 2rem;
    margin: auto;
    max-width: 1090px;
  }
}

.layout-content {
  margin-top: 1rem;

  @media (min-width: 768px) {
    margin-top: 2rem;
  }
}

header[role="banner"]:not(:has(*)) {
  display: none;
}