/* 1. Setup global form variables for easy customization */
:root {
  --primary-color: #0a694b;
  --secondary-color: #e76124;
  --text-color: #1f2937;
}

/* Recipes */
/*.recipes_image_preview {
  max-width: 350px;
}*/


/* Full recipe page */
.recipe {

  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  background: #fffefd;

  @media (min-width: 768px) {
    padding: 1rem;
  }


  .recipe-details {
    margin-top: 1rem;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
      max-width: 30rem;
    }
  }

  h1 {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 0.5rem 0 0 0;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;

    display: inline-block;
    position: relative;
    /* Creates space below the text for the underline */
    padding-bottom: 1.5rem;
    /* Uses a custom SVG path that mimics a marker stroke */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none'%3E%3Cpath d='M 2 6 Q 25 3, 50 6 T 98 4' fill='none' stroke='%230a694b' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
    background-size: 100% 12px;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}

h3.icon {
  display: flex;
  gap: 0.5rem;

  .material-symbols-outlined {
    color: var(--primary-color);
  }
}

/* All ingredients */
.ingredient__amount {
  font-weight: normal;
}

.ingredient__name {
  font-weight: 700;
}

.ingredient__extra {
  color: #565656;
  font-weight: normal;
}

/* List of ingredients before steps */
ul.ingredients {
  list-style: none;
  padding-left: 1rem;
}

details.details-ingredients summary {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.17em;
  cursor: pointer;
  user-select: none;
  width: 100%;
}


details.details-ingredients summary::marker {
  display: none;
  content: "";
}

details.details-ingredients summary::-webkit-details-marker {
  display: none;
}

details.details-ingredients summary::before {
  content: "nutrition";
  font-family: 'Material Symbols Outlined';
  font-size: 1.5rem;
  transition: transform 0.2s ease;
  color: var(--primary-color);
}

details.details-ingredients summary::after {
  content: "expand_more";
  font-family: 'Material Symbols Outlined';
  font-size: 1.5rem;
  transition: transform 0.2s ease;
  margin-left: auto;
}

details.details-ingredients[open] summary::after {
  transform: rotate(180deg);
  color: var(--secondary-color);
}

.accordion-content {
  padding: 1rem;
  border-top: 1px solid #e2e8f0;
  color: #334155;
  background-color: #fff;
}



/* Steps */
ol.steps {
  padding: 0 1rem;

  list-style: none;
  counter-reset: my-counter;
  padding-left: 0;

  li.step {

    counter-increment: my-counter;
    margin-bottom: 2rem;

    &::before {
      content: counter(my-counter) ". ";
      font-weight: bold;
      display: inline;
      color: var(--primary-color);
      margin-right: 0.25rem;
    }

    p {
      margin: 0;
      display: inline;
    }

    &::marker {
      color: var(--primary-color);
      font-weight: bold;
    }

    .ingredient {
      font-weight: bold;
      color: black;
      font-size: 1.15rem;
    }
  }

  /* List of ingredients under a step */
  ul.ingredient-list {

    list-style: none;
    padding: 0.25rem 0 0 0.5rem;

    li.ingredient {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;

      padding: 0px;
      margin: 0px;
      color: var(--text-color);
      font-size: 1rem;

      border: none;
      background: none;

      &::before {
        content: "fork_spoon";
        font-family: 'Material Symbols Outlined';
        font-size: 1.25rem;
        color: var(--secondary-color);
        font-weight: normal;
        flex-shrink: 0;
      }
    }

    .ingredient__amount:has(~ .ingredient__name),
    .ingredient__name:has(~ .ingredient__extra) {
      margin-right: 0.25em;
    }
  }

}

/* Recipe card */
.recipe-card {
  position: relative;
  border: 1px solid #b1b1b1;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 10px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    color: #0a694b;
    text-decoration: none;
  }

  .recipe-card__title {
    font-weight: 300;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.75);
    padding: 5px 35px 5px 15px;
    margin: 0;
    height: 100%;
  }

  .actions {
    position: absolute;
    right: 5px;
    bottom: 0px;
  }
}

.recipes-card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  align-items: start;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
